.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}

/*Generation Nums*/
$nums: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

/*gaps*/
@mixin gap($gap-val) {
  .gap-#{$gap-val} {
    gap: #{$gap-val * 0.5}em;
  }
}

@each $gap in $nums {
  @include gap($gap);
}

/*padding*/
@mixin padt($pt-val) {
  .pt-#{$pt-val} {
    padding-top: #{$pt-val * 0.5}em;
  }
}
@each $pt in $nums {
  @include padt($pt);
}
// right
@mixin padr($pr-val) {
  .pr-#{$pr-val} {
    padding-right: #{$pr-val * 0.5}em;
  }
}
@each $pr in $nums {
  @include padr($pr);
}
//bottom
@mixin padb($pb-val) {
  .pb-#{$pb-val} {
    padding-bottom: #{$pb-val * 0.5}em;
  }
}
@each $pb in $nums {
  @include padb($pb);
}
//left
@mixin padl($pl-val) {
  .pl-#{$pl-val} {
    padding-left: #{$pl-val * 0.5}em;
  }
}
@each $pl in $nums {
  @include padl($pl);
}

/*margin*/
@mixin mart($mt-val) {
  .mt-#{$mt-val} {
    margin-top: #{$mt-val * 0.5}em;
  }
}
@each $mt in $nums {
  @include mart($mt);
}
// right
@mixin marr($mr-val) {
  .mr-#{$mr-val} {
    padding-right: #{$mr-val * 0.5}em;
  }
}
@each $mr in $nums {
  @include marr($mr);
}
//bottom
@mixin marb($mb-val) {
  .mb-#{$mb-val} {
    margin-bottom: #{$mb-val * 0.5}em;
  }
}
@each $mb in $nums {
  @include marb($mb);
}
//left
@mixin marl($ml-val) {
  .ml-#{$ml-val} {
    margin-left: #{$ml-val * 0.5}em;
  }
}
@each $ml in $nums {
  @include marl($ml);
}