.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}

/*Generation gap*/
$gaps: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

@mixin gap($gap-val) {
  .gap-#{$gap-val} {
    gap: #{$gap-val * 0.5}em;
  }
}

@each $gap in $gaps {
  @include gap($gap);
}
